[submodule "libs/cxxopts"]
	path = libs/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "libs/glslang"]
	path = libs/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "libs/SPIRV-VM"]
	path = libs/SPIRV-VM
	url = https://github.com/dfranx/SPIRV-VM
